# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Datos y modelos
*.pdf
*.jpg
*.png
data/
models/

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
logs/

# Archivos temporales
*.swp
*.swo
*~